:root {
  --gray: #1A1A1A;
}

* {
  font-family: "VW", sans-serif;
}

html {
  position: relative;
  background-color: var(--gray);
  color: white;
}

.container {
  height: 100%;
  margin: 0 auto;
}


.button {
  display: inline-block;
  width: fit-content;
  color: white;
  padding: 7px 27px;
  border-radius: 9999px;
  background: #005AE0;
  border: 2px solid transparent;
  transition: 0.4s ease;
}

.button:hover {

  background-color: #004BBD;
}

.button:active {
  transition: 0.1s ease;
  color: #004BBD;
  background-color: #ffffff;
}
.button-white{
  color: #004BBD;
  background-color: #ffffff;
  display: inline-block;
  width: fit-content;
  padding: 7px 27px;
  border-radius: 9999px;
  border: 2px solid transparent;
  transition: 0.4s ease;
}
.button-white:hover{
  background-color: #d4d4d4;
}
.button:focus {
  background-color: #257CFF;
  border-color: #FFAF14;
}

.button-outline {
  width: fit-content;
  border-radius: 9999px;
  padding: 7px 27px;
  color: #FFAF14;
  border: 2px solid #FFAF14;
  background-color: transparent;
  transition: 0.4s ease;
}

.button-outline:hover {
  border-color: #AD7400;
  color: #AD7400;
}

.button-outline:active {
  transition: 0.1s ease;
  border-color: #ffffff;
  color: #ffffff;
}

.button-outline:focus {
  border: 2px dashed var(--colors-yellow-500, #FFAF14);
}

.tag {
  text-align: center;
  flex: 16;
  font-weight: bold;
  border-radius: 8px;
  background: var(--colors-blue-800, #004BBD);
  padding: 8px 20px;
  display: inline-block;
}