:root {
  --gray: #1A1A1A;
}

* {
  font-family: "VW", sans-serif;
}

html {
  position: relative;
  background-color: var(--gray);
  color: white;
}

.container {
  padding: 0 12px;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
  .container {
    padding: 12px;
  }

  html {
    overflow-x: hidden;
  }
}

.button,
.button-yellow {
  cursor: pointer;
  display: inline-block;
  width: fit-content;
  color: white;
  padding: 7px 27px;
  border-radius: 9999px;
  background: #005AE0;
  border: 2px solid transparent;
  transition: 0.4s ease;
  font-size: 24px;
  font-weight: 700;
}

.button-yellow {
  background-color: #C80;
}

.button:hover {

  background-color: #004BBD;
}

.button-yellow:hover {
  background-color: #FFAF14;
}

.button:active {
  transition: 0.1s ease;
  color: #004BBD;
  background-color: #ffffff;
}

.button-yellow:active {
  background-color: #FFC552;
}

.button-yellow:focus {
  border: 3px solid #9D6800;
  background: var(--colors-yellow-700, #C80);
}

.button-white {
  font-size: 24px;
  font-weight: 700;
  color: #004BBD;
  background-color: #ffffff;
  display: inline-block;
  width: fit-content;
  padding: 7px 27px;
  border-radius: 9999px;
  border: 2px solid transparent;
  transition: 0.4s ease;
}

.button-white:hover {
  background-color: #d4d4d4;
}

.button:focus {
  background-color: #257CFF;
  border-color: #FFAF14;
}

.button-outline {
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  width: fit-content;
  border-radius: 9999px;
  padding: 7px 27px;
  color: #FFAF14;
  border: 2px solid #FFAF14;
  background-color: transparent;
  transition: 0.4s ease;
}

.button-outline:hover {
  border-color: #AD7400;
  color: #AD7400;
}

.button-outline:active {
  transition: 0.1s ease;
  border-color: #ffffff;
  color: #ffffff;
}

.button-outline:focus {
  border: 2px dashed var(--colors-yellow-500, #FFAF14);
}

.tag {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 2px;
  background: var(--colors-blue-500, #257CFF);
  padding: 8px 20px;
  display: inline-block;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #005AE0 #323232;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 14px;
}

*::-webkit-scrollbar-track {
  border-radius: 15px;
  background: #323232;
  border: 3px solid #252525;
}

*::-webkit-scrollbar-thumb {
  background-color: #005AE0;
  border-radius: 15px;
  border: 3px solid #323232;
}