.loading {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    gap: 40px 0;
    background: #1A1A1A;
}

.loadingSpirale {
    transition: all 0.5s ease;
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }
}

@media (max-width: 768px) {
	.loadingLogo{
        width: 100px;
        height: 100px;
    }
    .loadingSpirale{
        width: 30px;
        height: 30px;
    }
}