.form__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 43px;
}

.header__subtitle{
    font-size: 16px;
    font-weight: 700;
}

.header__image{
    width: 63px;
    height: 63px;
}

.header__title{
    margin-right: 68px;
    font-size: 48px;
    font-weight: 700;
}
