.reg__container {
    max-width: 1200px;
}

.reg__window {
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: end;
    margin: 92px 0 285px 0;
    border-radius:30px;
    border: 2px solid #3B3B3B;
    background: rgba(36, 36, 36, 0.54);
    backdrop-filter: blur(21.5px);
    /* background-image: url("../../../public/images/mainSlider/1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
}
.reg__form{
    width: 460px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    padding: 63px 48px;
    border: 2px solid var(--colors-neutral-800, #3B3B3B);
    background: rgba(36, 36, 36, 0.54);
    backdrop-filter: blur(21.5px);
}
.form__line{
    margin: 43px 0;
    display: block;
    width: 389px;
    height: 3px;
    border-radius: 8px;
    border: 0px solid  #3B3B3B;
    background: rgb(194, 218, 255, 0.16);
}
