.advantages {
    margin: 65px 0;
}

.advantages__container {
    max-width: 1050px;
}

.advantages__cards {
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px 0;
}

.advantages__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
}

.advantages__info {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding-right: 100px;
    padding-left: 17px;
}

.advantages__tags {
    display: flex;
    gap: 0 20px;
    margin-bottom: 31px;
}

.advantages__title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 31px;
}

.advantages__text {
    color: #C4C4C4;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.48;
}