.login {
    line-height: 1.2;
    background-image: url("../../../public/images/login-bg.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center center;
}

.login__container {
    max-width: 875px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.login__form {
    margin: 162px 0;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 96px 48px;
    border: 2px solid var(--colors-neutral-800, #3B3B3B);
    background: rgba(36, 36, 36, 0.54);
    backdrop-filter: blur(21.5px);

}

.form__buttons {
    gap: 25px;
    display: flex;
    justify-content: center;
}
.form__button{
    font-size: 16px;
    font-weight: 700;
}
.form__line{
    margin: 43px 0;
    display: block;
    width: 389px;
    height: 3px;
    border-radius: 8px;
    border: 0px solid  #3B3B3B;
    background: rgb(194, 218, 255, 0.16);
}


@media (max-width: 768px) {
    .login__form{
        padding: 24px 17px;
    }
    .login{
        background-size: cover;
        height: calc(100vh - 55px - 70px);
    }
}
