.answers {
    margin: 127px 0;
}

.answer__container {
    max-width: 1050px;
    display: flex;
    justify-content: center;
}

.answers__info,
.answer__discord {
    flex: 0 0 50%;
}

.answers__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 78px;
}



.answer__discord {
    display: flex;
    align-items: center;
    justify-content: end;
}

.answers__card {
    width: 308px;
    padding: 24px 28px;
    border-radius: 30px;
    border: 2px solid #3B3B3B;
    background: #242424;
    transition: 0.3s ease-in-out;
}

.answers__card:hover {
    border: 2px solid #525252;
    background: #3B3B3B;
}

.cards-header__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.cards-header__text {
    color: #C4C4C4;
    font-family: "Poppins", "VW";
    font-size: 13px;
    font-weight: 700;
    line-height: 1.48;
}

.answers__card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.cards-header__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: #0A6CFF;
    padding: 15px 12px;
}

@media (max-width: 1200px) {
	
}
@media (max-width: 992px) {	
	
}
@media (max-width: 768px) {
    .answers{
        margin: 33px 0;
    }
    .answer__container{
        flex-direction: column;
        gap: 24px 0;
    }
    .answers__title{
        text-align: center;
        font-size: 32px;
        margin-bottom: 24px;
    }
    .answers__discord{
        display: flex;
        justify-content: center;
    }
}