.main {
    margin: 150px 0;
}

.main__container {
    max-width: 1300px;
    display: flex;
    align-items: center;
}

.main__info {
    width: 60%;
}

.main__title {
    position: relative;
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 33px;
    z-index: 2;
}

.main__title::after,
.main__title::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 113px;
    height: 25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.main__title::before {
    top: 204px;
    left: 354px;
    background-image: url("../../../../../public/svg/lineBlue.svg");
}

.main__title::after {
    bottom: 119px;
    left: 596px;
    background-image: url("../../../../../public/svg/lineYellow.svg");
}

.main__subtitle {
    color: #DBDBDB;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.17;
    margin-bottom: 33px;
}

.main__link {
    margin-right: 16px;
}

.main__text {
    color: #DBDBDB;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 29px;
}

.main__image {
    position: absolute;
    right: 0;
    width: 35%;
    overflow: hidden;
    border-radius: 113px 0px 0px 113px;
    border: 2px solid #3B3B3B;
    background-image: url("../../../../../public/images/main-imageBlur.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.image__blur {
    padding: 20px 10px;
    width: 100%;
    height: 100%;
    background: rgba(36, 36, 36, 0.53);
    backdrop-filter: blur(88.80000305175781px);

}
