input{
    color: #757575;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: inline-block;
    width: 100%;
    margin-bottom: 23px;
    padding: 8px 16px;
    border-radius: 32px;
    border: 2px solid transparent;
    background: #EEE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    outline: none;
}

input:focus {
    border: 2px solid #004BBD;
}

input::placeholder {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: rgba(117, 117, 117, 0.43);
    font-size: 14px;
}