.header {
    position: sticky;
    top: 0;
    z-index: 10;
    padding-top: 10px;
    background-color: rgba(31, 31, 31, 0.54);
    border-bottom: 1px solid #696969;
    height: 70px;
    display: flex;
    backdrop-filter: blur(21.5px);
}

.header__container {
    min-width: 1117px;
    align-items: center;
    display: flex;
}

.header__logo {
    width: 41px;
}
.header-mobile{
    display: none;
}
.header__nav , .header__nav-mobile{
    transition: 0.3s ease;
    padding: 0;
    margin-left: 44px;
    list-style: none;
    gap: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}
.header__nav-mobile{
    display: none;
}
.header__nav:hover {
    color:  #696969;

}
.header__nav a {
    padding: 0 25px;
    border-bottom: 2px solid #3B3B3B;
}

.header__nav a:hover {
    color: white;
    transition: 0.3s ease;
    border-radius: 8px 8px 0px 0px;
    background: rgba(39, 39, 39, 0.70);
    border-color: #FFAF14;
}

.header__user {
    cursor: pointer;
    width: 26px;
}

.header__nav-menu {
    position: relative;
}


@media (max-width: 1200px) {
	.header__container{
        max-width: 993px;
    }
}
@media (max-width: 992px) {	
	
}
@media (max-width: 768px) {
    .header-mobile{
        padding: 13px 23px;
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: end;
    }
    .header-mobile img{
        width: 22px;
        height: 22px;
    }
    .header{
        width: 100%;
        position: fixed;
        top: calc(100vh - 70px);
        backdrop-filter: none;
        background-color: rgba(31, 31, 31);
        border-top: 3px solid#EB9C00;
    }
	.header__container{
        padding-top: 0;
        padding-bottom: 20px;
        min-width: 100%
    }
    .header__nav-mobile{
        width: 100%;
        justify-content: space-between;
        display: flex;
        margin: 0;
        flex: none;
    }
    .header__nav-mobile li a{
        font-size: 12px;
    }
    .header__nav-mobile li{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header__nav{
        display: none;
        
    }
    .header__nav a{
        font-size: 12px;
        padding: 0;
    }
    .header__logo{
        display: none;
    }
    .NavMenu-Pc{
        display: none;
    }
}