 .shop {
     margin-top: 45px;
     margin-bottom: 70px;
 }

 .shop__container {
     max-width: 1300px;
 }

 .shop__ad-background {
     overflow: hidden;
     height: 299px;
     position: relative;
     border-radius: 32px 32px 0px 0px;
     border: 2px solid #3B3B3B;
     border-bottom: none;
     padding: 100px 200px 100px 58px;
 }

 .shop__ad-title {
     font-size: 36px;
     font-weight: 700;
     line-height: 1.18;

 }

 .shop__ad-text {
     text-align: center;
     padding: 26px 10px;
     font-family: 'Poppins', sans-serif;
     font-size: 24px;
     font-weight: 900;
     line-height: 1.04;
     border-radius: 0px 0px 32px 32px;
     background: #C80;
     box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
 }

 .swiper-pagination {
     text-align-last: right;
     padding: 0 20px 0 0px;
 }

 .shop .swiper-pagination-horizontal {
     position: absolute;
     top: 20px !important;
     right: 0;
 }

 /* ========================================================================================== */
 .shop__notReg {
     margin-top: 53px;
     display: flex;
     padding: 37px 54px;
     border-radius: 32px;
     border: 2px solid #3B3B3B;
     background: rgba(36, 36, 36, 0.53);
 }

 .notReg__info {
     margin-left: 20px;
     flex: 0 0 50%;
 }

 .notReg__title {
     font-size: 20px;
     font-weight: 700;
 }

 .notReg__text {
     font-family: "Poppins", sans-serif;
     font-size: 16px;
     font-weight: 700;
     line-height: 1.48;

 }

 .notReg__btn {
     height: fit-content;
     font-size: 16px;
 }

 .notReg__buttons {
     flex: 1 0 auto;
     display: flex;
     align-items: center;
     justify-content: end;
     gap: 0 20px;
 }

 /* ========================================================================== */
 .shop__content {
     margin-top: 52px;
     display: grid;
     grid-template-columns: 1fr 2fr;
     gap: 0 37px;
     grid-template-rows: 1fr;

 }

 .shop__cards {
     align-self: start;
     gap: 37px;
     display: grid;
     grid-template-columns: 1fr 1fr;
 }

 .shop__card {
     position: relative;
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
     overflow: hidden;
     height: 621px;
     border-radius: 32px;
     border: 2px solid #525252;
     background: rgba(43, 43, 43, 0.54);
     display: flex;
     align-items: center;
     flex-direction: column;
 }


 .shop__sidebar {
     align-self: start;
     border-radius: 32px;
     background: #242424;
 }

 .shop__sidebar-header {
     border-bottom: 1px solid #525252;
 }

 .shop__sidebar-footer {
     display: flex;
     flex-direction: column;
     gap: 20px 0;
     border-top: 1px solid #525252;
     padding: 10px 22px 24px 22px;
 }

 .shop__sidebar-footer svg path,
 .shop__sidebar-footer-ticket svg g path,
 .shop__sidebar-title svg path {
     transition: 0.2s ease-in;
 }

 .shop__sidebar-footer-skin,
 .shop__sidebar-footer-ticket {
     cursor: pointer;
     border-radius: 20px;
     padding: 16px 22px 16px 22px;
     color: #9C9C9C;
     font-family: 'Poppins', sans-serif;
     font-size: 15px;
     border: 2px solid transparent;
     font-weight: 900;
     display: flex;
     align-items: center;
     transition: 0.3s ease-in-out;
 }

 .shop__sidebar-footer-skin {
     gap: 0 15px;
 }

 .shop__sidebar-footer-ticket {
     gap: 0 15px;
 }

 .shop__sidebar-footer-skin:hover,
 .shop__sidebar-footer-ticket:hover,
 .shop__sidebar-footer .shop__sidebar-footer-ticket:hover,
 .shop__sidebar-title:hover,
 .shop__sidebar-footer-skin:hover {
     border: 2px solid var(--colors-neutral-800, #3B3B3B);
     background: var(--colors-neutral-900, #242424);
     color: #fff;
 }

 .shop__sidebar-footer .shop__sidebar-footer-ticket:hover svg path,
 .shop__sidebar-title:hover svg path,
 .shop__sidebar-footer-skin:hover svg g path {
     fill-opacity: 1;
 }

 .shop__sidebar-header p {
     padding: 30px 44px;
     font-size: 32px;
     font-weight: 700;
 }

 .shop__sidebar-content {
     padding: 40px 20px 20px 20px;
     font-family: "Poppins", sans-serif;
 }

 .shop__sidebar-content:has(.shop__sidebar-title) {
     padding: 20px 20px 10px 20px;
 }

 .shop__sidebar-title {
     cursor: pointer;
     fill: #9C9C9C;
     color: #9C9C9C;
     font-family: "Poppins", sans-serif;
     font-size: 15px;
     font-weight: 900;
     border-radius: 20px;
     border: 2px solid transparent;
     padding: 0 26px;
     display: flex;
     align-items: center;
     gap: 0 15px;
     transition: 0.3s ease-in;
 }

 .shop__sidebar-title {
     padding: 16px 22px;
 }

 .shop__sidebar-title-active:hover,
 .shop__sidebar-footer-active .shop__sidebar-footer-ticket:hover {
     border: 2px solid var(--colors-blue-400, #6BA6FF);
     background: var(--colors-blue-600, #0A6CFF);
 }

 .shop__sidebar-title-active {
     padding: 22px 26px;
 }

 .shop__sidebar-title-active svg path,
 .shop__sidebar-footer-active .shop__sidebar-footer-ticket svg path {
     fill-opacity: 1;
 }

 .shop__sidebar-footer-active {
     border-top: 0;
 }

 .shop__sidebar-title-active,
 .shop__sidebar-footer-active .shop__sidebar-footer-ticket {
     fill: white;
     color: white;
     border: 2px solid #004BBD;
     background: #005AE0;
 }

 .shop__sidebar-footer-active div img {
     fill: white;
 }

 .shop__sidebar-title-active+.shop__sidebar-nav {
     display: flex;
 }

 .shop__sidebar-title img {
     margin-top: -4px;
 }


 .shop__sidebar-nav {
     list-style: none;
     padding: 24px 8px 0 8px;
     display: none;
     margin: 0;
     flex-direction: column;
     gap: 10px 0;
 }

 .shop__sidebar-link {
     border: 2px solid transparent;
     border-radius: 31px;
     padding: 14px 16px;
     font-family: 'Poppins', sans-serif;
     font-size: 11px;
     font-weight: 900;
     color: rgba(234, 234, 234, 0.35);
     display: flex;
     align-items: center;
     gap: 0 8px;
     transition: 0.2s ease-in;
 }

 .shop__sidebar-link svg path {
     transition: 0.2s ease-in;
     fill-opacity: 0.24;
 }

 .shop__sidebar-link:hover svg path,
 .shop__sidebar-link:hover {
     color: white;
     fill-opacity: 1;
 }

 .shop__sidebar-link-active {
     border-radius: 31px;
     border: 1px solid var(--colors-blue-950, #00255C);
     background: var(--colors-blue-800, #004BBD);
     color: white;
     position: relative;
 }

 .shop__sidebar-link-active:hover {
     border: 1px solid var(--colors-blue-400, #6BA6FF) !important;
     background: var(--colors-blue-600, #0A6CFF);
 }

 .shop__sidebar-link-active::after {
     content: "";
     position: absolute;
     background-image: url(../../../public/svg/arrowRigth.svg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 16px;
     height: 13px;
     z-index: 90;
     right: 20px;
 }

 .shop__sidebar-link-active svg path {
     fill-opacity: 1;
 }

 .shop__sidebar-link:hover {
     border: 2px solid var(--colors-neutral-800, #3B3B3B)
 }




 .shop__tickets {
     display: flex;
 }

 .shop__sidebar-cosmetics+.shop__market .shop__tickets {
     display: none;
 }

 .shop__cards {
     display: none;
 }

 .shop__sidebar-cosmetics+.shop__market .shop__cards {
     display: grid;
 }

 .shop__sidebar-cosmetics+.shop__market .shop__pagination {
     display: flex;
 }

 .shop__card-image {
     display: flex;
     align-items: center;
     justify-content: center;

 }

 .shop__card:hover .shop__card-blur {
     background: rgba(88, 88, 88, 0.54);
 }

 .shop__card-blur {
     transition: 0.3s ease-in-out;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(43, 43, 43, 0.54);
     backdrop-filter: blur(80px);
     position: absolute;
     z-index: 1;
 }

 .shop__card-icon {
     height: 407px;
 }

 .shop__card-image,
 .shop__card-title,
 .shop__card-buy {
     position: relative;
     z-index: 2;
 }

 .shop__card-title {
     margin-top: 27px;
     margin-bottom: 49px;
     text-align: center;
     font-size: 32px;
     font-weight: 700;
 }

 .shop__card-buy {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 0 4px;
 }

 .shop__card-info {
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 5px 5px;
 }

 .shop__card-button {
     font-size: 20px;
 }

 .shop__pagination {
     margin-top: 75px;
     display: none;
     align-items: center;
     justify-content: center;
     gap: 0 17px;

 }

 .shop__pagination p {
     cursor: pointer;
     font-family: 'Poppins', sans-serif;
     font-size: 20px;
     font-weight: 700;
     padding: 7px 24px;
     border-radius: 12px;
     background: #232323;
 }

 .shop__pagination p.active {
     background: #257BFB;
     color: #fff;
     box-shadow: 0px 6px 36px 0px rgba(37, 123, 251, 0.09);
 }

 .arrowPagination {
     cursor: pointer;
     margin: 0 30px;
 }

 .arrowPagination-left {
     transform: rotate(-180deg);
 }









 .shop__tickets {
     border-radius: 32px;
     overflow: hidden;
     flex-direction: column;

 }

 .shop__ticket-line {
     height: 3px;
     width: 100%;
     margin-left: 64px;
     border-bottom: 1.5px solid #ffffff19;
     margin-bottom: 30px;
 }

 .shop__ticket {
     position: relative;
     display: flex;
     padding: 0px 0px 30px 64px;
     align-items: center;
     justify-content: space-between;
 }

 .shop__ticket-title {
     font-size: 32px;
     font-weight: 700;
     flex: 1 1 auto;
     line-height: 1;
 }

 .shop__ticket-buy {
     display: flex;
     align-items: center;
     gap: 0 4px;
 }

 .shop__ticket-buy .button {
     font-size: 20px;
 }

 .shop__ticket-info {
     padding: 0 4px;

 }

 .shop__ticket-icon {
     border-radius: 19px;
     margin-bottom: 33px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .shop__ticket-price {
     font-family: 'Poppins', sans-serif;
     font-size: 64px;
     font-weight: 700;
     margin-top: 65px;
     line-height: 1;
 }

 .shop__ticket-blue .shop__ticket-subtitle {
     color: #99C2FF;
 }

 .shop__ticket-subtitle {
     font-size: 20px;
     font-weight: 700;
     color: #FFE583;
     margin-top: 7px;
     line-height: 1;
 }

 .shop__ticket-blur {
     height: 150px;
     width: 300px;
     top: 30%;
     left: 10%;
     position: absolute;
     background: rgba(235, 156, 0, 0.30);
     filter: blur(67.4000015258789px);
 }

 .shop__ticket-blur-blue {
     background: rgba(10, 108, 255, 0.30)
 }

 .shop__ticket-main {

     flex-direction: column;
     display: flex;
     align-items: center;
 }

 .shop__ticket-icon img {
     width: 69px;
     height: 44px;
 }



 .shop__ticket-buy .button {
     display: inline;
     padding: 10px 57px;
     margin-top: 80px;
     color: #E8E8E8;
 }

 .shop__ticket-info ul li {
     font-family: 'Poppins', sans-serif;
     font-size: 15px;
     font-weight: 700;
     display: flex;
     gap: 0px 12px;
     color: #DBDBDB;
 }

 .shop__ticket-info ul {
     list-style: none;
     display: flex;
     flex-direction: column;
     gap: 23px 0;
 }

 .shop-mobileCategory-title {
     line-height: 1;
     margin: 0 auto;
     padding: 10px 30px 10px 51px;
     width: fit-content;
     text-align: center;
     border-radius: 9999px;
     background: var(--colors-blue-700, #005AE0);
     font-size: 16px;
     position: relative;
 }
 .shop-mobileCategory-title::before{
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-image: url(../../../public/svg/burger.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    top: 12px;
    left: 30px;
 }
 .shop-mobileCategory-title {
     display: none;
 }


 .shop__sidebar-header img{
    display: none;
 }
 .shop__black-bgc{
    display: none;
 }
 @media (max-width: 768px) {

     .shop-mobileCategory-title{
         margin-bottom: 34px;
         display: block;
     }

     .shop__sidebar {
         display: none;
     }
     .shop__sidebar:has(.shop__sidebar-content-open){
        position: fixed;    
        top: 43px;
        left: 0px;
        z-index: 30;
        width: calc(100% - 70px);
        margin: 0 35px;
        display: block;
     }
    .shop__black-bgc-open{
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 19;
        width: 100%;
        display: block;
        height: 100vh;
        background: rgba(35, 34, 34, 0.75);
     }
     .shop {
         margin-top: 20px;
     }

     .swiperSlider p {
         text-align: left;
         left: 12px;
         font-size: 32px;
     }

     .shop__ad {
         display: none;
     }

     .shop__ad-background {
         padding: 34px 20px 24px 20px;
         text-align: center;
     }

     .shop__ad-text {
         font-size: 12px;
         text-align: center;
     }

     .notReg__icon {
         height: 30px;
         width: 30px;
     }

     .shop__notReg {
         display: none;
     }

     .notReg__title {
         font-size: 14px;
     }

     .notReg__text {
         font-size: 12px;
     }

     .notReg__btn {
         font-size: 12px;
     }

     .notReg__buttons {
         justify-content: center;
     }

     .shop__content {
         margin-top: 0px;
         grid-template-columns: 1fr;
     }

     .shop__cards {
         height: 500px;
         overflow-y: scroll;
         gap: 17px 0;
         grid-template-columns: 1fr;
     }

     .shop__card {
         margin: 0 30px;
         height: 500px;
     }

     .shop__card-icon {
         height: 300px;
     }
     .shop__sidebar-header{
        padding: 19px 19px 26px;
        display: flex;
        justify-content: space-between;
     }
     .shop__sidebar-header p {
        padding: 0;
         font-size: 24px;
     }
     .shop__sidebar-header img{
        display: block;
     }
     .shop__sidebar-content {
         padding: 17px 13px;
     }

     .shop__sidebar-nav {
         gap: 5px 0;
     }

     .shop__card-title {
         font-size: 27px;
     }

     .shop__card-button {
         font-size: 13px;
     }
     .shop__sidebar-title-active{
        padding: 16px 22px;
     }
     .shop__sidebar-nav{
        padding-top: 10px;
     }
     .shop__ticket-title {
         margin-left: 8px;
         font-size: 32px;
     }
     .shop__ticket-line{
        border: none;
     }
     .shop__ticket-blur{
        top: 40%;
        left: 25%;
        width: 50%;
        height: 30%;
        filter: blur(61px);
     }
     .shop__ticket {
         padding: 15px;
     }

     .shop__ticket-icon img {
         width: 69px;
         height: 44px;

     }

     .shop__ticket-icon {
         border-radius: 8px;
         padding: 9px;
     }

     .shop__ticket-buy .shop__ticket-info {
         width: 35px;
         height: 35px;
         padding: 0;
     }
     .shop__ticket-info {
        display: none;
    }
    .shop__ticket-main{
        width: 100%;
    }
     .category-btn {
         font-size: 15px;
         font-weight: 700;
     }


     .notAutMobile__Wrapper-active+.notAutMobile {
         display: block;
         margin: 0 auto;

     }

     .notAutMobile__Wrapper-active {
         position: relative;
         background-color: #292929;
         width: 100vw;
         height: 100vh;
         position: fixed;
         top: 0px;
         left: 0;
         opacity: 0.8;
         padding: 19px;
         display: block;
         z-index: 98;
     }

     .notAutMobile-card-header {
         display: flex;
         justify-content: space-between;
         margin-bottom: 25px;
     }

     .notAutMobile-card-logo {
         gap: 0 12px;
         display: flex;
         align-items: center;
     }

     .notAutMobile-card-logo img {
         width: 25px;
         height: 25px;
     }

     .notAutMobile-card-logo-title {
         font-size: 16px;
         font-weight: 700;
     }

     .poppup-info {
         font-family: 'Poppins', sans-serif;
         font-size: 16px;
         font-weight: 700;
         color: #DBDBDB;
         margin-bottom: 42px;
     }

     .notAutMobile a {
         font-size: 13px;
         font-weight: 700;
         padding: 10px 20px;
     }





 }

 .notAutMobile {
     display: none;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     border-radius: 22px;
     border: 2px solid var(--colors-neutral-800, #3B3B3B);
     background: rgba(36, 36, 36, 1);
     position: fixed;
     top: 219px;
     width: calc(100% - 38px);
     left: 19px;
     padding: 29px 40px 25px 40px;
     z-index: 99;
 }