.account{
    margin: 48px 0;
}
.account__container {
    max-width: 1300px;
}

.account__main{
    margin-top: 44px;
    display: grid;
    gap: 0 31px;
    grid-template-columns: 1fr 2fr
}




@media (max-width: 768px) {
    .account{
        margin-top: 33px;
    }
    .account__main{
        grid-template-columns: 1fr;
        gap: 17px 0;
    }
	
}